将鱼图像数据进行操作，使用numpy知识

# Pandas的数据结构


导入pandas：  
三剑客

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

### 1、Series

Series是一种类似与一维数组的对象，由下面两个部分组成：
- values：一组数据（ndarray类型）
- index：相关的数据索引标签

#### 1）Series的创建

两种创建方式：

(1) 由列表或numpy数组创建

    默认索引为0到N-1的整数型索引

In [2]:
np1 = np.array([1,2,3,4,5])

In [4]:
Series(np1)

0    1
1    2
2    3
3    4
4    5
dtype: int32

    还可以通过设置index参数指定索引

In [6]:
s1 = Series(data=np1,index=("小明","小红","小青","小白","小绿"))

特别地，由ndarray创建的是引用，而不是副本。对Series元素的改变也会改变原来的ndarray对象中的元素。（列表没有这种情况）

In [8]:
s1["小明"] = 2

In [9]:
s1

小明    2
小红    2
小青    3
小白    4
小绿    5
dtype: int32

In [10]:
np1

array([2, 2, 3, 4, 5])

In [11]:
li = [1,2,3,4,5]

In [12]:
s2 = Series(data=np1,index=("小明","小红","小青","小白","小绿"))

In [14]:
s2["小明"] = 2

In [15]:
s2

小明    2
小红    2
小青    3
小白    4
小绿    5
dtype: int32

In [16]:
li

[1, 2, 3, 4, 5]

(2) 由字典创建

In [17]:
dic = {
    "小明":15,
    "小红":28,
    "小白":30,
    "小黑":17,
    "小蓝":50
}

In [18]:
s3 = Series(data=dic)
s3

小明    15
小白    30
小红    28
小蓝    50
小黑    17
dtype: int64

============================================

练习1：

使用多种方法创建以下Series，命名为s1：  
语文 150   
数学 150   
英语 150   
理综 300   

============================================

#### 2）Series的索引和切片

可以使用中括号取单个索引（此时返回的是元素类型），或者中括号里一个列表取多个索引（此时返回的仍然是一个Series类型）。分为显示索引和隐式索引：

(1) 显式索引：

    - 使用index中的元素作为索引值
    - 使用.loc[]（推荐）

 注意，此时是闭区间

In [19]:
s3["小明"]

15

In [21]:
s3[["小明","小红"]]

小明    15
小红    28
dtype: int64

In [22]:
s3.loc["小明"]

15

In [23]:
s3.loc[["小明","小红"]]

小明    15
小红    28
dtype: int64

(2) 隐式索引：

    - 使用整数作为索引值
    - 使用.iloc[]（推荐）

 注意，此时是半开区间

In [25]:
s3[0]

15

In [26]:
s3[[0,4]]

小明    15
小黑    17
dtype: int64

In [27]:
s3.iloc[0]

15

In [28]:
s3.iloc[[0,4]]

小明    15
小黑    17
dtype: int64

切片

In [30]:
s3["小明":"小红"]

小明    15
小白    30
小红    28
dtype: int64

In [31]:
s3.loc["小明":"小红"]

小明    15
小白    30
小红    28
dtype: int64

In [32]:
s3[0:3]

小明    15
小白    30
小红    28
dtype: int64

In [33]:
s3.iloc[0:3]

小明    15
小白    30
小红    28
dtype: int64

In [34]:
s3.iloc[::-1]

小黑    17
小蓝    50
小红    28
小白    30
小明    15
dtype: int64

============================================

练习2：

使用多种方法对练习1创建的Series s1进行索引和切片：

索引：
数学 150 

切片：
语文 150 
数学 150 
英语 150 

============================================

#### 3）Series的基本概念

可以把Series看成一个定长的有序字典

可以通过shape，size，index,values等得到series的属性

可以使用head(),tail()分别查看前n个和后n个值

当索引没有对应的值时，可能出现缺失数据显示NaN（not a number）的情况

In [41]:
data = np.random.randint(0,10,size=5)
s1 = Series(data=data,index=['A','B','C','D','E'])
s2 = Series(data=data,index=['A','B','C','E','F'])

In [43]:
s1 + s2

A     6.0
B    14.0
C    18.0
D     NaN
E    15.0
F     NaN
dtype: float64

series的运算

In [51]:
display(s1,s2)
s3 = s1.add(s2)

A    3
B    7
C    9
D    7
E    8
dtype: int32

A    3
B    7
C    9
E    7
F    8
dtype: int32

可以使用pd.isnull()，pd.notnull()，或自带isnull(),notnull()函数检测缺失数据

In [55]:
b = pd.isnull(s3)

In [58]:
b1 = pd.notnull(s3)

使用Bool_list访问数组对象

In [59]:
s3[b1]

A     6.0
B    14.0
C    18.0
E    15.0
dtype: float64

Series对象本身及其实例都有一个name属性

In [62]:
s3.name = "huguanyu"

In [63]:
s3

A     6.0
B    14.0
C    18.0
D     NaN
E    15.0
F     NaN
Name: huguanyu, dtype: float64

#### 4）Series的运算

(1) 适用于numpy的数组运算也适用于Series

(2) Series之间的运算

- 在运算中自动对齐不同索引的数据
- 如果索引不对应，则补NaN

- 注意：要想保留所有的index，则需要使用.add()函数

In [ ]:
# 加减乘除
s1.add()
s1.sub()
s1.mul()
s1.div()

============================================

练习3：

1. 想一想Series运算和ndarray运算的规则有什么不同？

2. 新建另一个索引包含“文综”的Series s2，并与s2进行多种算术操作。

============================================

### 2、DataFrame

DataFrame是一个【表格型】的数据结构，可以看做是【由Series组成的字典】（共用同一个索引）。DataFrame由按一定顺序排列的多列数据组成。设计初衷是将Series的使用场景从一维拓展到多维。DataFrame既有行索引，也有列索引。
- 行索引：index
- 列索引：columns
- 值：values（numpy的二维数组）

In [69]:
data = np.random.randint(0,100,size=(5,4))
index =["小明","小红","小青","小白","小绿"]
columns=["数学","语文","英语","历史"]
df = DataFrame(data=data,index=index,columns=columns)
df

    数学  语文  英语  历史
小明  84   7   4  42
小红  17  25  72  51
小青  36  53  67  28
小白  11  72  42  65
小绿  67  97  40  86

#### 1）DataFrame的创建
最常用的方法是传递一个字典来创建。DataFrame以字典的键作为每一【列】的名称，以字典的值（一个数组）作为每一列。

此外，DataFrame会自动加上每一行的索引（和Series一样）。

同Series一样，若传入的列与字典的键不匹配，则相应的值为NaN。

DataFrame属性：values、columns、index、shape

============================================

练习4：

根据以下考试成绩表，创建一个DataFrame，命名为df：
```
    张三  李四
语文 150  0
数学 150  0
英语 150  0
理综 300  0
```

============================================

#### 2）DataFrame的索引

(1) 对列进行索引

    - 通过类似字典的方式
    - 通过属性的方式

 可以将DataFrame的列获取为一个Series。返回的Series拥有原DataFrame相同的索引，且name属性也已经设置好了，就是相应的列名。

In [91]:
df[["数学","英语"]]

    数学  英语
小明  84   4
小红  17  72
小青  36  67
小白  11  42
小绿  67  40

(2) 对行进行索引

    - 使用.ix[]来进行行索引
    - 使用.loc[]加index来进行行索引
    - 使用.iloc[]加整数来进行行索引
    
 同样返回一个Series，index为原来的columns。

In [76]:
df.loc["小明"]

数学    84
语文     7
英语     4
历史    42
Name: 小明, dtype: int32

In [93]:
df.loc[["小明","小红"]]

    数学  语文  英语  历史
小明  84   7   4  42
小红  17  25  72  51

In [84]:
df.iloc[0:3]

    数学  语文  英语  历史
小明  84   7   4  42
小红  17  25  72  51
小青  36  53  67  28

(3) 对元素索引的方法
    - 使用列索引
    - 使用行索引(iloc[3,1]相当于两个参数;iloc[[3,3]] 里面的[3,3]看做一个参数)
    - 使用values属性（二维numpy数组）

In [83]:
df.values[0,1]

7

In [ ]:
# 【重点】
# 获取一列  df[列标签]              获取多列[[列标签1，列标签2]]
# 获取一行  df.loc[行标签]          获取多行 df.loc[[行标签1，行标签2]]
# 获取元素  df.loc[行标签，列标签]

### 切片

【注意】
直接用中括号时：
- 索引表示的是列索引
- 切片表示的是行切片

============================================

练习5：

使用多种方法对df进行索引和切片，并比较其中的区别

============================================

#### 3）DataFrame的运算

In [ ]:
numpy运算 聚合  np.nansum()
广播 空值

In [ ]:
Sereis  s.add
索引对齐

（1） DataFrame之间的运算

同Series一样：

- 在运算中自动对齐相同索引的数据
- 如果索引不对应，则补NaN

创建DataFrame df1 不同人员的各科目成绩，月考一

创建DataFrame df2 不同人员的各科目成绩，月考二  
有新学生转入

下面是Python 操作符与pandas操作函数的对应表：

| Python Operator | Pandas Method(s)                      |
|-----------------|---------------------------------------|
| ``+``           | ``add()``                             |
| ``-``           | ``sub()``, ``subtract()``             |
| ``*``           | ``mul()``, ``multiply()``             |
| ``/``           | ``truediv()``, ``div()``, ``divide()``|
| ``//``          | ``floordiv()``                        |
| ``%``           | ``mod()``                             |
| ``**``          | ``pow()``                             |

（2） Series与DataFrame之间的运算

【重要】

- 使用Python操作符：以行为单位操作（参数必须是行），对所有行都有效。（类似于numpy中二维数组与一维数组的运算，但可能出现NaN）

- 使用pandas操作函数：

        axis=0：以列为单位操作（参数必须是列），对所有列都有效。
        axis=1：以行为单位操作（参数必须是行），对所有行都有效。

  axis=0（0 == index 行）：以列为单位操作（参数必须是列），对所有列都有效。
  axis=1（1 == columns 列）：以行为单位操作（参数必须是行），对所有行都有效。

【注意】fill_value在df和series之间运算时，不能使用

============================================

练习6：

1. 假设ddd是期中考试成绩，ddd2是期末考试成绩，请自由创建ddd2，并将其与ddd相加，求期中期末平均值。

2. 假设张三期中考试数学被发现作弊，要记为0分，如何实现？

3. 李四因为举报张三作弊立功，期中考试所有科目加100分，如何实现？

4. 后来老师发现有一道题出错了，为了安抚学生情绪，给每位学生每个科目都加10分，如何实现？

============================================